{
  "presets": ["next/babel"],
  "plugins": [
    [
      "import", {
        "libraryName": "antd",
        "style": false,
        "libraryDirectory": "lib"
      }
    ],
    [
      "import", {
        "libraryName": "antd-mobile",
        "style": false,
        "libraryDirectory": "lib"
      },
      "antd-mobile"
    ]
  ]
}