{
  "presets": ["next/babel"],
  "plugins": [
    ["babel-plugin-styled-components"],
    [
      "import", {
        "libraryName": "antd",
        "style": true
      }
    ],
    [
      "import", {
        "libraryName": "antd-mobile",
        "style": true
      },
      "antd-mobile"
    ]
  ]
}
