@hd: 1px;

@base-color: #3477dc;
@base-black: #323645;

@color-text-base: @base-black;
@color-text-paragraph: @base-black;
@color-link: @brand-primary;
@fill-base: #fff;
@fill-body: #f5f5f9;
@fill-tap: #ddd;
@fill-disabled: #ddd;
@fill-mask: rgba(0, 0, 0, 0.4);
@color-icon-base: #ccc;
@fill-grey: #f7f7f7;

@opacity-disabled: 0.3;

@brand-primary: @base-color;
@brand-primary-tap: #7ca8e9;
@brand-success: #D5F6DE;
@brand-warning: #F8EDD3;
@brand-error: #F96A6A;;
@brand-important: #FA9393;
@brand-wait: #108ee9;


@primary-color: @base-color; // primary color for all components
@link-color: @base-color; // link color
@success-color: #52c41a; // success state color
@warning-color: #faad14; // warning state color
@error-color: #f5222d; // error state color
@font-size-base: 16px; // major text font size
@heading-color: #323645; // heading text color
@text-color: #323645; // major text color
@text-color-secondary : #323645; // secondary text color
@disabled-color : rgba(0, 0, 0, .25); // disable state color
@border-radius-base: 4px; // major border radius
@border-color-base: #d9d9d9; // major border color
@box-shadow-base: 0 2px 8px rgba(0, 0, 0, 0.15); // major shadow for layers


@h-spacing-sm: 5 * @hd;
@h-spacing-md: 8 * @hd;
@h-spacing-lg: 15 * @hd;

@v-spacing-xs: 8 * @hd;
@v-spacing-sm: 16 * @hd;
@v-spacing-md: 24 * @hd;
@v-spacing-lg: 32 * @hd;
@v-spacing-xl: 40 * @hd;

@font-family: 'Avenir Next', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'PingFang SC', 'Hiragino Sans GB',
'Microsoft YaHei', 'Helvetica Neue', Helvetica, Arial, sans-serif, 'Apple Color Emoji',
'Segoe UI Emoji', 'Segoe UI Symbol';

@search-bar-fill: #ffffff;
@search-bar-height: 50 * @hd;
@search-bar-input-height: 50 * @hd;
@search-bar-font-size: 16 * @hd;
@search-color-icon: @base-color; 
